section.section
	.container
		h2.section__title PUG__1
		h2.section__desc PUG__2
		h1 pug_15
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis minus nisi praesentium delectus voluptas ab cumque sapiente, non earum, nesciunt hic? Iste quae libero eaque enim ad sit sed, perspiciatis.
		.content
			p.content__text Да я текст gulp -v 3.9.1


