<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="style.css" media='all')
		script(src='js/jquery/jquery.js')
		script(src='js/jquery/jquery-ui.min.js')
		script(src='js/may_script.js')
	body 
		include header.pug
		include main.pug
		include footer.pug
