<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title pug Структура
	link(rel="stylesheet", href="style.css" ,media='all')  
body

	include block/pug/header.pug
	include block/pug/main.pug
	include block/pug/footer.pug

		